## Load in Data

In [2]:
import pandas as pd

game_data = pd.read_csv('datasets/cleaned_data/clean_retrosheet.csv')

In [3]:
game_data.head()

,Unnamed: 0,Date,Number of game,Visiting Team,Home Team,Visiting Team Score,Home Team Score,Home Score SMA,Home Score CMA,Home Score EMA,...,Visiting Errors EMA,Visiting Passed Balls SMA,Visiting Passed Balls CMA,Visiting Passed Balls EMA,Visiting Double Plays SMA,Visiting Double Plays CMA,Visiting Double Plays EMA,Visiting Triple Plays SMA,Visiting Triple Plays CMA,Visiting Triple Plays EMA
0,0,20140415,0,NYN,ARI,9,0,3.8,3.800000,3.430552,...,0.140383,0.0,0.064909,0.008247,0.7,0.813387,0.891189,0.0,0.000000,0.000000e+00
1,1,20140416,0,NYN,ARI,5,2,3.7,3.454545,2.806815,...,0.114859,0.0,0.064777,0.006748,0.7,0.811741,0.729154,0.0,0.000000,0.000000e+00
2,2,20140418,0,SFN,SDN,1,2,3.1,3.100000,2.996733,...,0.437913,0.1,0.056795,0.087325,1.1,0.900609,0.715089,0.0,0.000000,0.000000e+00
3,3,20140418,0,SEA,MIA,4,8,5.8,5.800000,6.013663,...,0.660538,0.0,0.066532,0.000986,1.1,0.907258,1.048140,0.0,0.004032,1.384551e-15
4,4,20140418,0,CHA,TEX,0,12,4.1,4.100000,5.009391,...,0.722905,0.1,0.099796,0.105171,1.0,0.942974,1.034505,0.0,0.006110,2.654710e-26

In [10]:
game_data.shape

(14277, 175)

## Only work with EMA

In [76]:
# get list of column labels for data
labels = game_data.columns

# get list of label names that we want to drop from our dataset
ema_drop_labels = ['Unnamed: 0']
cma_drop_labels = ['Unnamed: 0']
sma_drop_labels = ['Unnamed: 0']
for label in labels:
    if 'CMA' in label or 'SMA' in label:
        ema_drop_labels.append(label)
    if 'CMA' in label or 'EMA' in label:
        sma_drop_labels.append(label)
    if 'SMA' in label or 'EMA' in label:
        cma_drop_labels.append(label)

# drop unwanted data
ema = game_data.drop(columns=ema_drop_labels)
cma = game_data.drop(columns=cma_drop_labels)
sma = game_data.drop(columns=sma_drop_labels)

In [77]:
ema.head()

,Date,Number of game,Visiting Team,Home Team,Visiting Team Score,Home Team Score,Home Score EMA,Home At-bats EMA,Home Hits EMA,Home Doubles EMA,...,Visiting Individual Earned Runs EMA,Visiting Earned Runs EMA,Visiting Wild Pitches EMA,Visiting Balks EMA,Visiting Putouts EMA,Visiting Assists EMA,Visiting Errors EMA,Visiting Passed Balls EMA,Visiting Double Plays EMA,Visiting Triple Plays EMA
0,20140415,0,NYN,ARI,9,0,3.430552,34.452952,8.739615,2.081907,...,5.241957,5.241957,1.092870,0.010953,28.586415,11.428553,0.140383,0.008247,0.891189,0.000000e+00
1,20140416,0,NYN,ARI,5,2,2.806815,33.643324,7.696049,1.703379,...,4.288874,4.288874,0.894167,0.008962,28.297976,10.441544,0.114859,0.006748,0.729154,0.000000e+00
2,20140418,0,SFN,SDN,1,2,2.996733,30.418201,7.124677,1.456278,...,4.033911,4.033911,0.254866,0.000198,26.601751,10.310060,0.437913,0.087325,0.715089,0.000000e+00
3,20140418,0,SEA,MIA,4,8,6.013663,33.913746,10.206027,2.265434,...,3.688050,3.688050,0.718885,0.000010,26.042230,9.643132,0.660538,0.000986,1.048140,1.384551e-15
4,20140418,0,CHA,TEX,0,12,5.009391,33.811406,9.621014,2.257176,...,5.208565,5.208565,0.207281,0.007332,25.646669,11.130677,0.722905,0.105171,1.034505,2.654710e-26

In [78]:
cma.head()

,Date,Number of game,Visiting Team,Home Team,Visiting Team Score,Home Team Score,Home Score CMA,Home At-bats CMA,Home Hits CMA,Home Doubles CMA,...,Visiting Individual Earned Runs CMA,Visiting Earned Runs CMA,Visiting Wild Pitches CMA,Visiting Balks CMA,Visiting Putouts CMA,Visiting Assists CMA,Visiting Errors CMA,Visiting Passed Balls CMA,Visiting Double Plays CMA,Visiting Triple Plays CMA
0,20140415,0,NYN,ARI,9,0,3.800000,34.600000,8.900000,2.000000,...,3.722110,3.713996,0.288032,0.024341,27.647059,9.352941,0.525355,0.064909,0.813387,0.000000
1,20140416,0,NYN,ARI,5,2,3.454545,34.181818,8.363636,1.818182,...,3.714575,3.706478,0.287449,0.024291,27.645749,9.346154,0.524291,0.064777,0.811741,0.000000
2,20140418,0,SFN,SDN,1,2,3.100000,31.400000,7.500000,1.600000,...,3.665314,3.647059,0.300203,0.030426,27.724138,10.391481,0.523327,0.056795,0.900609,0.000000
3,20140418,0,SEA,MIA,4,8,5.800000,33.500000,9.800000,2.300000,...,3.868952,3.868952,0.395161,0.042339,27.518145,9.401210,0.598790,0.066532,0.907258,0.004032
4,20140418,0,CHA,TEX,0,12,4.100000,33.700000,9.100000,2.000000,...,4.352342,4.346232,0.474542,0.032587,27.364562,9.619145,0.665988,0.099796,0.942974,0.006110

In [79]:
sma.head()

,Date,Number of game,Visiting Team,Home Team,Visiting Team Score,Home Team Score,Home Score SMA,Home At-bats SMA,Home Hits SMA,Home Doubles SMA,...,Visiting Individual Earned Runs SMA,Visiting Earned Runs SMA,Visiting Wild Pitches SMA,Visiting Balks SMA,Visiting Putouts SMA,Visiting Assists SMA,Visiting Errors SMA,Visiting Passed Balls SMA,Visiting Double Plays SMA,Visiting Triple Plays SMA
0,20140415,0,NYN,ARI,9,0,3.8,34.6,8.9,2.0,...,4.4,4.4,1.1,0.0,28.6,10.8,0.2,0.0,0.7,0.0
1,20140416,0,NYN,ARI,5,2,3.7,34.3,8.7,1.9,...,4.2,4.2,1.0,0.0,28.6,10.3,0.2,0.0,0.7,0.0
2,20140418,0,SFN,SDN,1,2,3.1,31.4,7.5,1.6,...,4.5,4.5,0.2,0.0,26.4,10.8,0.4,0.1,1.1,0.0
3,20140418,0,SEA,MIA,4,8,5.8,33.5,9.8,2.3,...,3.1,3.1,0.7,0.0,26.6,9.8,0.6,0.0,1.1,0.0
4,20140418,0,CHA,TEX,0,12,4.1,33.7,9.1,2.0,...,4.0,4.0,0.3,0.0,25.8,11.2,0.7,0.1,1.0,0.0

In [80]:
ema.shape

(14277, 62)

In [82]:
# Let's get the labels we need for predictions
winners_labels = ['Date', 'Number of game', 'Visiting Team', 'Home Team', 'Visiting Team Score', 'Home Team Score']

winners = game_data[winners_labels]

winners

,Date,Number of game,Visiting Team,Home Team,Visiting Team Score,Home Team Score
0,20140415,0,NYN,ARI,9,0
1,20140416,0,NYN,ARI,5,2
2,20140418,0,SFN,SDN,1,2
3,20140418,0,SEA,MIA,4,8
4,20140418,0,CHA,TEX,0,12
...,...,...,...,...,...,...
14272,20190929,0,CLE,WAS,2,8
14273,20190929,0,LAN,SFN,9,0
14274,20190929,0,NYA,TEX,1,6
14275,20190929,0,ATL,NYN,6,7
14276,20190929,0,CIN,PIT,3,1

In [84]:
# drop winners_labels from our ema, cma and sma data to have only numerical data
ema_num = ema.drop(columns=winners_labels)
cma_num = cma.drop(columns=winners_labels)
sma_num = sma.drop(columns=winners_labels)

In [85]:
# find cutoff index to separate training from testing data
cutoff = 0
for index, date in winners["Date"].items():
    if str(date)[0:4] == '2019':
        cutoff = index
        break
        
cutoff

11848

In [86]:
# make new series for winner binary option
winners_bin = []

for i in range(winners.shape[0]):
    if winners.loc[i,'Visiting Team Score'] > winners.loc[i,'Home Team Score']:
        winners_bin.append('Away')
    else:
        winners_bin.append('Home')

In [94]:
# time to scale and train the data
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline

scaler = StandardScaler()

ema_scaled = scaler.fit_transform(ema_num)
cma_scaled = scaler.fit_transform(cma_num)
sma_scaled = scaler.fit_transform(sma_num)

ema_train, ema_test = ema_scaled[:cutoff],ema_scaled[cutoff:]
cma_train, cma_test = cma_scaled[:cutoff],cma_scaled[cutoff:]
sma_train, sma_test = sma_scaled[:cutoff],sma_scaled[cutoff:]

winners_train, winners_test = winners_bin[:cutoff],winners_bin[cutoff:]

svm_clf = SVC(kernel='sigmoid', cache_size=1000)

svm_clf.fit(ema_train, winners_train)
print(svm_clf.score(ema_test, winners_test))

svm_clf.fit(cma_train, winners_train)
print(svm_clf.score(cma_test, winners_test))

svm_clf.fit(sma_train, winners_train)
print(svm_clf.score(sma_test, winners_test))

0.5253190613421161
0.5043227665706052
0.5191436805269658

In [100]:
# try grid search for best values to use
from sklearn.model_selection import GridSearchCV

svm_clf = SVC()
parameters = {'kernel': ('rbf', 'sigmoid', 'poly'), 'cache_size': [1000]}

grid_clf = GridSearchCV(svm_clf, parameters)

grid_clf.fit(cma_train, winners_train)
grid_clf.score(cma_test, winners_test)

0.5673116508851379

In [101]:
grid_clf.cv_results_

{'mean_fit_time': array([13.67537928, 10.80547476,  9.27749753]),
 'std_fit_time': array([4.57587772, 0.67762317, 0.76660589]),
 'mean_score_time': array([1.8702836 , 1.19044623, 1.26831331]),
 'std_score_time': array([0.93677055, 0.01800328, 0.01204582]),
 'param_cache_size': masked_array(data=[1000, 1000, 1000],
              mask=[False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'sigmoid', 'poly'],
              mask=[False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'cache_size': 1000, 'kernel': 'rbf'},
  {'cache_size': 1000, 'kernel': 'sigmoid'},
  {'cache_size': 1000, 'kernel': 'poly'}],
 'split0_test_score': array([0.52827004, 0.50168776, 0.52531646]),
 'split1_test_score': array([0.54008439, 0.52869198, 0.53839662]),
 'split2_test_score': array([0.53670886, 0.50379747, 0.5556962 ]),
 'split3_test_score': array([0.56226256, 0.51287463, 0.55635289]),
 'split4_test_score': array([0.55846349, 0.52849304, 0.54453356]),
 'mean_test_score': array([0.54515787, 0.51510898, 0.54405915]),
 'std_test_score': array([0.01305323, 0.01163359, 0.011577  ]),
 'rank_test_score': array([1, 3, 2], dtype=int32)}

In [103]:
# let's write important test/train data to files so testing other models is even easier (with this data at least)
ema_num.to_csv(path_or_buf='datasets/cleaned_data/ema_num.csv')
cma_num.to_csv(path_or_buf='datasets/cleaned_data/cma_num.csv')
sma_num.to_csv(path_or_buf='datasets/cleaned_data/sma_num.csv')

winners_bin = pd.Series(winners_bin)
winners_bin.to_csv(path_or_buf='datasets/cleaned_data/winners.csv')